  .request_Now-button{
    background-color: black;
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    cursor: pointer;
    transition: opacity 0.15s;
  }
  .request_Now-button:hover{
    opacity:0.7 ;
  }
  .request_Now-button:active{
    opacity:0.5 ;
  }
